[Desktop Entry]
Type=Application
Version=1.0
Name=Mighty Mike
Comment=High-Powered Action Rescue in a Toy Store Gone Mad!
Icon=io.jor.mightymike
Exec=MightyMike
Terminal=false
Categories=Game;
